{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<div class="home_content">
	<h1 class="title">Similar Product Finder</h1>
	
	<form method="POST">
		<h3 class="form-group">
			What product would you like to find today?
		</h3>
		<label for="product-name">Product Name</label>
		<input
			type="product-name"
			class="form-control"
			id="product-name"
			name="product-name"
			placeholder="Product Name"
		>
		<label for="product-price"
	</form>
</div>
{% endblock %}